/* Write your CSS code here */
.blog-list-item {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 1.7em;
  border: 3px solid #8e8e8e91;
  padding: 1em;
  border-radius: 15px;
}
.blog-image {
  max-width: 300px;
}
.blog-image img {
  max-width: 100%;
  border-radius: 10px;
}
.blog-item-details {
  align-self: flex-start;
  min-width: 250px;
}
.author-details {
  display: flex;
  align-items: center;
  gap: 1em;
}
.author-details img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.blog-title {
  font-size: 1.3rem;
}
.blog-topic,
.blog-author {
  color: #8e8e8e;
  font-weight: 500;
  font-size: clamp(0.5rem, 3vw, 1rem);
}
