/* Write your CSS code here */
.blog-info {
  padding: 1em;
  max-width: 576px;
  margin-bottom: 2em;
}
.blog-info h2 {
  text-align: center;
}

.blog-img-container {
  width: 100%;
}
.blog-img-container img {
  max-width: 100%;
  border-radius: 10px;
  margin: 1em 0;
}
.blog-content {
  color: #2f4f4f;
}
